body {
  background: black;
}

div.white {
  color: white;
}

.lime {
  color: lime;
  font-family: Arial;
}

p.red {
  color: red;
  font-family: Arial;
}

hr.white {
  color: white;
}

p span {
  font-size: 200%;
}

h1, h2, h3, span {
  color: green;
}

#favoritebear { 
  color: aqua
}

#favoritedog {
  color: aqua
}

#beardiv {
  border: dotted;
}

#dogdiv {
  text-align: right;
  border: dotted;
}
